* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

.dashboard-container {
    background-color: #f4f6f9;
    padding: 20px;
    color: #333;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 15px;
}

.stats-card {
    flex: 1;
    background: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.stats-card h2 {
    font-size: 18px;
    color: #555;
    margin-bottom: 5px;
}

.stats-card p {
    font-size: 22px;
    color: #2a9d8f;
    font-weight: bold;
}

.dashboard-content {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-grow: 1; */
}

.chart-card {
    background: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 60%;
    max-width: 600px;
    text-align: center;
    overflow: hidden;
}

.chart-card h3 {
    font-size: 18px;
    color: #264653;
    margin-bottom: 10px;
}